# Output and results directories
output/
results/

# Python files
infer.py
*.pth
*.cpython
*.ipynb
**/__pycache__/
**/pytest_cache/

# Environment directories
3dseg_env/
exp/

# Data directory
data/